<h3>Account Activation<h3>
	<p>
		<%= @name %> is reguesting you to activate his account.<br/>
		Mobile : <%= @mobile %><br/>
		Email  : <%= @email %><br/>
Click the url below to activate its account!
</p>
<%= link_to "Activate!", @account_activation_url %><br/>

 
