<h3>Thank you!</h3>
<p>
	Your account has been activated.<br/>
	A request to activate your account has been made. If you did not make<br/>
  	this request, simply ignore this email. If you did make this<br/>
  	request, please follow the link below.<br/>
</p>  
 <%=link_to "Click here to set Password", @account_activation_url.to_s + "?flag=confirm" %><br/>
<p>
If you continue to have problem, please feel free to contact guy2job@gmail.com<br/>
</p>  